In [30]:
from sklearn.datasets import load_iris, fetch_california_housing
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [31]:
df = pd.read_csv('../Data/df.csv')

In [32]:
print(df.head(2))

        t_dat                                        customer_id  article_id  \
0  2019-12-22  1a54a97012920b8a3be266d0f283e65f619351a07b7b4e...   243613004
1  2020-05-22  8115a3bbc5a21a5a75cf3fc7f05528911b360b908f8160...   811333004

      price  sales_channel_id   age  \
0  0.008220                 2  45.0
1  0.010661                 1  56.0

                                         postal_code  product_code  \
0  bace0b7289f3abc65155eb513b75c2abe21de67a67bb29...        243613
1  9955e3367540bf383231a99e7fd805b262cc1b4d77f94b...        811333

                      prod_name  product_type_no  ...  \
0  Minna highwaist leggings (1)              273  ...
1                  Bahama dress              265  ...

  graphical_appearance_name  colour_group_code colour_group_name  \
0                     Solid                  9             Black
1          All over pattern                  9             Black

   department_no department_name  index_code index_name section_no  \
0           1643         Basic 1           D    Divided         51
1           1344         Dresses           D    Divided         53

         section_name                                        detail_desc
0      Divided Basics  High-waisted leggings in sturdy, ribbed jersey...
1  Divided Collection  Short, sleeveless dress in patterned jersey. S...

[2 rows x 22 columns]

In [33]:
df.columns

Index(['t_dat', 'customer_id', 'article_id', 'price', 'sales_channel_id',
       'age', 'postal_code', 'product_code', 'prod_name', 'product_type_no',
       'product_type_name', 'graphical_appearance_no',
       'graphical_appearance_name', 'colour_group_code', 'colour_group_name',
       'department_no', 'department_name', 'index_code', 'index_name',
       'section_no', 'section_name', 'detail_desc'],
      dtype='object')

In [34]:
df.drop(['FN','Active', 'club_member_status', 'fashion_news_frequency', 
       'product_group_name', 'perceived_colour_value_id', 'perceived_colour_value_name',
       'perceived_colour_master_id', 'perceived_colour_master_name',
       'index_group_no', 'index_group_name', 
       'garment_group_no', 'garment_group_name'], axis=1, inplace=True)

KeyError: "['FN', 'Active', 'club_member_status', 'fashion_news_frequency', 'product_group_name', 'perceived_colour_value_id', 'perceived_colour_value_name', 'perceived_colour_master_id', 'perceived_colour_master_name', 'index_group_no', 'index_group_name', 'garment_group_no', 'garment_group_name'] not found in axis"

In [ ]:
df.duplicated().sum()

2148

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df = df.sample(100000)

In [ ]:
df.to_csv('../Data/df.csv', index=False)

#### Checking for anomalies

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100000 entries, 213822 to 393969
Data columns (total 22 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   t_dat                      100000 non-null  object
 1   customer_id                100000 non-null  object
 2   article_id                 100000 non-null  int64
 3   price                      100000 non-null  float64
 4   sales_channel_id           100000 non-null  int64
 5   age                        100000 non-null  float64
 6   postal_code                100000 non-null  object
 7   product_code               100000 non-null  int64
 8   prod_name                  100000 non-null  object
 9   product_type_no            100000 non-null  int64
 10  product_type_name          100000 non-null  object
 11  graphical_appearance_no    100000 non-null  int64
 12  graphical_appearance_name  100000 non-null  object
 13  colour_group_code          100000 non-null  int64
 14  colour_group_name          100000 non-null  object
 15  department_no              100000 non-null  int64
 16  department_name            100000 non-null  object
 17  index_code                 100000 non-null  object
 18  index_name                 100000 non-null  object
 19  section_no                 100000 non-null  int64
 20  section_name               100000 non-null  object
 21  detail_desc                100000 non-null  object
dtypes: float64(2), int64(8), object(12)
memory usage: 17.5+ MB

#### Quick EDA

In [ ]:
#your code here
features = df.select_dtypes(include='number')
features

,article_id,price,sales_channel_id,age,product_code,product_type_no,graphical_appearance_no,colour_group_code,department_no,section_no
0,697060014,0.025407,2,50.0,697060,258,1010016,9,1522,15
1,697050011,0.006763,2,36.0,697050,258,1010017,73,1522,15
2,733077001,0.067780,2,59.0,733077,265,1010001,13,1322,15
3,610776039,0.007186,1,27.0,610776,255,1010016,12,1676,16
4,704126003,0.033881,2,29.0,704126,272,1010023,71,1722,15
...,...,...,...,...,...,...,...,...,...,...
499995,554450025,0.033186,2,26.0,554450,272,1010016,73,1747,53
499996,694813001,0.033881,2,33.0,694813,261,1010016,73,6512,41
499997,762205003,0.042356,1,42.0,762205,252,1010010,14,1626,15
499998,617735003,0.016932,2,59.0,617735,254,1010018,9,1652,50
499999,779568001,0.027102,2,50.0,779568,252,1010016,8,1652,50

In [ ]:
for item in features.columns:
    features[item] = pd.to_numeric(features[item], errors='coerce')

#### Train Test Split

In [ ]:
df.columns

Index(['t_dat', 'customer_id', 'article_id', 'price', 'sales_channel_id',
       'age', 'postal_code', 'product_code', 'prod_name', 'product_type_no',
       'product_type_name', 'graphical_appearance_no',
       'graphical_appearance_name', 'colour_group_code', 'colour_group_name',
       'department_no', 'department_name', 'index_code', 'index_name',
       'section_no', 'section_name', 'detail_desc'],
      dtype='object')

In [ ]:
target = df["customer_id"]

In [ ]:
features

,article_id,price,sales_channel_id,age,product_code,product_type_no,graphical_appearance_no,colour_group_code,department_no,section_no
0,697060014,0.025407,2,50.0,697060,258,1010016,9,1522,15
1,697050011,0.006763,2,36.0,697050,258,1010017,73,1522,15
2,733077001,0.067780,2,59.0,733077,265,1010001,13,1322,15
3,610776039,0.007186,1,27.0,610776,255,1010016,12,1676,16
4,704126003,0.033881,2,29.0,704126,272,1010023,71,1722,15
...,...,...,...,...,...,...,...,...,...,...
499995,554450025,0.033186,2,26.0,554450,272,1010016,73,1747,53
499996,694813001,0.033881,2,33.0,694813,261,1010016,73,6512,41
499997,762205003,0.042356,1,42.0,762205,252,1010010,14,1626,15
499998,617735003,0.016932,2,59.0,617735,254,1010018,9,1652,50
499999,779568001,0.027102,2,50.0,779568,252,1010016,8,1652,50

In [ ]:
target

0         f3b30faeec45640aec8a0b36cd3462b241a9c249105711...
1         5342263c90cde5bda4f8250771c3fab180f8876eb61939...
2         36008985be03a974dd15a40fc3809408eeaa5dee15a3fa...
3         244b695f77cd6e48b0b41388447eb77d1fdf06b37064a5...
4         e336418072dbe54534d4fb7518e7f43d861076630f0341...
                                ...
499995    12f0dba091395c0fcfc6740032ba03948bfc1fb9425cb7...
499996    8afdda1283bf6eb54e89436a11fe16c01dd4dd7e734add...
499997    ef44f7854f67d98a674d000ff904bed30e914299d96bed...
499998    d24033121fc4995136a3aeab3ab66422f2071694c3f352...
499999    6ca781adef12f0876e9923322d08b2f1cc3a3071495772...
Name: customer_id, Length: 500000, dtype: object

Now we perform the division between Train and Test, we will reserve 20% of our data to Test.

In [35]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.20, random_state=0)

In [36]:
from sklearn.neighbors import KNeighborsRegressor

In [37]:
knn = KNeighborsRegressor(n_neighbors=10)

In [38]:
knn.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=10)

#####  We are going to evaluate our model performance with R-Squared

In [39]:
knn.score(X_test, y_test)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
y_predict= knn.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

mse_standardized = mean_squared_error(y_test, y_predict)
mae_standardized = mean_absolute_error(y_test, y_predict)
r2_standardized = r2_score(y_test, y_predict)

mse_standardized, mae_standardized, r2_standardized